# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Package Files
*.tar.gz
*.tar.bz2
*.zip
*.rar

# Configuration files that may contain sensitive information
*.conf

# IDE specific files and directories
.vscode/
.idea/
*.swp
*~

# Build directories
build/
cmake-build-debug/
cmake-build-release/

# Dependency directories (consider if you're using a package manager)
deps/

# Log files and databases
*.log
*.sql
*.sqlite

# SSH Key files (if applicable, though usually these should not be in the project directory)
*.pem

# Ignore the binary file where Chass stores passwords
chass_passwords.db

# Environment files
.env

